{% extends 'base.html' %}

{% block content %}

<h3>Welcome to Buzz Crowd App</h3>

{% for post in posts %}
<div class="card" style="width: 18rem;">
    {% if post.image %}
 <img src="{{ post.image }}">
 {% else %}
 <img src='/media/blank_profile.png'/>
 {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ post.content }}</h5>
        <p>Posted by:
          <strong><a href="/posts/{{ post.id }}" class="btn btn-primary"> {{ post.user }}</a></strong></p>
          
        </div>
    </div>

    
    
    {% endfor %}

    {% endblock %}